.navbar {
  font-family: 'Staatliches', cursive;
  font-size: 1.5em;
  padding-left: 200px;
  padding-right: 200px;
}

.navbar a {
  color: white;

}
.navbar-icon {
  height: 8rem;
  padding: 5px;
}

.navbar-link{
  display: flex;
  flex-direction: column;
  text-align: center;
}
