.customer-item {
  display: grid;
  grid-template-columns: 4fr 1fr;
  border: 1px solid black;
  border-radius: 1em;
  margin: 2em;
  background-color: #e9e9e9;
}


.item-button {
  background-color: #cfcfcf;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  font-size: 18px;
}

.item-details {
  border-right: 2px solid grey;
}
