.customer {
  background-color: white;
  padding: 1em 3em 0 0;
  height: 300px;
  margin-bottom: 0.25em;

  min-height: 150px;
  min-width: 225px;
  flex-basis: 18%;

  border-radius: 5px;

  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
}

.customer__content {
  grid-column-start: 2;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  text-align: center;
  font-weight: 100;
  overflow: hidden;
}


.customer__content-name {
  font-size: 2em;
  list-style-type: none;
}


.customer__select {
  grid-column-start: 3;
  color: black;
  background-color: inherit;
  border: 1px solid black;
  font-size: 1em;
  width: 300px;
  height: 100px;
  margin:0 auto;
  display:block;
}
