.jumbotron .customer-name{
    margin-left: 3rem;
    font-weight: 800;
}
.jumbotron p {
    padding: 1rem;
}

.jumbotron .customer-movies-out, .jumbotron .customer-credit{
    font-weight: 400;
}

.customer-card {
    display: flex;
    justify-content: space-between;
}
.customer-card-content {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
}
.card {
    margin: 0.5rem 2rem 0.5rem 2rem;
    border: 1px solid black;
    background-color: lightgrey;
    border-radius: 5px;
}



.card .select-btn {

}
