.movie {
  display: flex;
  border: 1px solid black;
  margin: 1em;
}

.movie > * {
  border: 1px solid black;
  /* width: 33%; */
}

.movie-info, .movie-options {
  width: 1/3;
  /* min-width: 33%; */
}

.movie-info {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
}
