.Nav {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
}

.Nav a {
  text-decoration: none;
  font-size: 2vw;
  margin: .8em;
  font-family: 'Raleway', sans-serif;
  color: #bdc3c7;
  font-weight: lighter;
  text-shadow: 1px 1px 1px rgba(250,250,250,.4);
  transition: color 1s;
}

.Nav a:hover {
  color: rgba(245, 178, 55, 1);
}
