.default {
  display: none;
}

.loading {
  background-color: lightblue;
}

.success {
  background-color: lightgreen;
}

.error {
  background-color: salmon;
}

.new {
  background-color: blue;
  color: yellow;
}
