.default {
  color: blue;
  background-color: yellow;
  display: none;
}

.success {
  background-color: lightgreen;
}


.new {
  background-color: blue;
  color: yellow;
}


.loading {
  background-color: lightblue;
}
