.button {
  color: white;
  font-family: 'Reem Kufi', sans-serif;
  background-color: #ff0000
}

.button:hover {
  cursor: pointer;
  color: #ff0000;
  font-family: 'Reem Kufi', sans-serif;
  background-color: white;
}

.table-top {
  padding-left: 5%;
  padding-right: 5%;
}
