@import url('https://fonts.googleapis.com/css?family=Poiret+One|Poppins|Reem+Kufi');

.navbar {
  background-color: #ff0000;
}

li.navbar-brand {
  font-family: 'Reem Kufi', sans-serif;
  font-size: 2em;
  color: white;
}

.nav-item {
  padding-left: 10px;
}

li > a{
  color: white;
  font-size: 1.25em;
}

li > a:hover {
  color: black;
  text-decoration: none;
}

.search {
  padding-right: 10px
}

.searchBar {
  padding-left: 20em;
  margin-left: 10px;
}

.song {
  padding-left: 12em;
  display: inline;
}
