@import url('https://fonts.googleapis.com/css?family=Poiret+One|Poppins|Reem+Kufi');

.navbar {
  background-color: #ff0000;
}

.shimmer {
		color: rgba(255, 255, 255, 0.1);
		background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
		background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
		background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
		-webkit-background-size: 125px 100%;
		-moz-background-size: 125px 100%;
		background-size: 125px 100%;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		background-clip: text;
		-webkit-animation-name: shimmer;
		-moz-animation-name: shimmer;
		animation-name: shimmer;
		-webkit-animation-duration: 2s;
		-moz-animation-duration: 2s;
		animation-duration: 2s;
		-webkit-animation-iteration-count: infinite;
		-moz-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-color: #222;
}

@-moz-keyframes shimmer {
		0% {
				background-position: top left;
		}
		100% {
				background-position: top right;
		}
}

@-webkit-keyframes shimmer {
		0% {
				background-position: top left;
		}
		100% {
				background-position: top right;
		}
}

@-o-keyframes shimmer {
		0% {
				background-position: top left;
		}
		100% {
				background-position: top right;
		}
}

@keyframes shimmer {
		0% {
				background-position: top left;
		}
		100% {
				background-position: top right;
		}
}

li.navbar-brand {
  font-family: 'Reem Kufi', sans-serif;
  font-size: 2.5em;
}

.nav-item {
  padding-left: 10px;
}

li > a{
  color: white;
  font-size: 1.25em;
}

li > a:hover {
  color: black;
  text-decoration: none;
}

.search {
  padding-right: 10px
}

.searchBar {
  padding-left: 20em;
  margin-left: 10px;
}

.song {
  padding-left: 12em;
  display: inline;
}

.errors {
  color: white;
  font-weight: bold;
}
