.card-group {
  display: flex;
  height: 700px;

  padding-top: 15%;
  padding-bottom: 700px;
  font-size: .85em;
  display: inline-block;
  margin: 1em;
}

.search-movies {
width: 6000px;
padding-top: 21em;

}

.form {
  top: 50%;
  left: 40%;
}
