.App {
  text-align: center;
  background-color: #000024;
  color: white;
}

a:link {
  text-decoration: none;
}

.header {
  -webkit-text-stroke: 1px red;
   color: #000024;
   font-size: 4em;
   text-transform: uppercase;
   font-family: 'Muli', sans-serif;
}

.header:hover {
  -webkit-text-stroke: 1px #EC407A;
   color: #000024;
}

ul li {
  list-style: none;
  color: red;
}
